body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  padding: 70px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 100%;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #0099cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0077aa;
}

.quote-box {
  margin-top: 20px;
}

.greating {
  font-family: Arial, sans-serif;
  color: #1625f3;
  font-size: 25px;
  font-weight: 500;
}

#quotText {
  animation: fadeIn 0.5s ease-in-out
}

#creatorSignature {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #aaa;
}

@media (max-width: 575px) {
  .container{
    padding: 50px;
  }
}