body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #3498db;
	color: White;
	scroll-behavior: smooth; /* Smooth scrolling effect */
}

/* Navigation Bar */
nav {
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(0, 0 , 0, 0, 7);
	padding: 15px 0;
	text-align: center;
	z-index: 1000;
}
nav a:hover {
	color: white;
	text-decoration: none;
	margin: 0 20px;
	font-size: 1.2em;
}
/* Home Section */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 80px 50px; /*Adjusted for navbar space */
	opacity: 0;
	transform: translateY(-20px);
	animation: fadeIn 7s ease-out forwards;
}
/* Fade-In Animation */
@keyframes fadeIn {
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
	flex-direction: row-reverse; /*Moves the image to the right*/
}
/* Profile Photo */
.photo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	margin-left: 30px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.intro {
	max-width: 600px;
	text-align: center;
}
.intro h1 {
	margin: 0;
	font-size: 3em;
}
.intro p {
	font-size: 1,2em;
}/*Buttons */
.cta-button {
	background-color: #2c3e50;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 1.2em;
	transition: background 0.3s ease;
}
.cta-button {
	background-color: #f1c40f;
	color: black;
}
.section {
	padding: 50px 20px;
	text-align; center;
}
/* Projects Section */
.projects{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	grid-gap: 30px;
}
.project-card {
	background-color: white;
	color: #3498db;
	width: 250px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}
.project-card:hover {
	translate: scale(1.05);
}
.My-projects h2{
	text-align: center;
	position: flex;
}